.hero {
  height: calc(100vh - var(--nav-height));
  width: 100%;
  overflow: hidden;
  position: relative;
  --header-margin-top: 70px;
  --nav-height: 114px;
  --hero-heading: 50px;
}
.hero h1 {
  font-size: var(--hero-heading);
}
.hero p {
  font-size: 22px;
}

.hero .header {
  margin-top: var(--header-margin-top);
  /* height: calc(100vh - var(--header-margin-top) - 71px); */
  /* max-height: calc(550px); */
}

.hero_wave img {
  object-fit: contain;
  object-position: right top;
}
.hero_img {
  /* min-height: 550px; */
  height: 100%;
}
.hero_img > img {
  width: 81%;
  object-position: bottom center;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  .hero {
    --hero-heading: 40px;
    --wave-offset: 46px;
    height: calc(100vh - var(--nav-height));
    min-height: 540px;
    max-height: calc(568px);
  }
  .hero_wave img {
    transform: translateX(calc(335px - 3vh));
    object-position: top right;
    aspect-ratio: 1241 / 686;
  }
  .hero .header {
    max-height: calc(462px);
  }
  .hero_img img:first-child {
    right: calc(74px - 1vw);
    z-index: 1;
  }
  .hero_img img:nth-child(2) {
    right: calc(-81px - 1vw);
  }
  .hero_img img {
    /* width: 74%; */
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    /* max-height: 645px; */
    max-height: 568px;
    width: 100%;
    /* min-height: 460px; */
    overflow: hidden;
    position: relative;
  }

  .hero .header {
    max-width: 446px;
  }

  .hero_wave img {
    object-position: top right;
    aspect-ratio: 1241/686;
    transform: translateX(calc(173px - 3vh));
  }
  .hero_img img {
    width: 81%;
  }
  .hero_img img:first-child {
    right: calc(96px - 1vw);
    z-index: 1;
  }
  .hero_img img:nth-child(2) {
    right: calc(-90px - 1vw);
  }
}
/* @media screen and (max-width: 1200px) {
  .hero {
    --hero-heading: 50px;
    --header-margin-top: 194px;
  }
  
  .hero .header {
    margin-inline: auto;
    height: auto;
  }
  
  .hero_wave img {
    left: 0;
  }
  .hero_wave img:first-of-type {
    transform: translateX(-110px);
  }
  
  .hero_img {
    min-height: 651px;
    height: calc(100vh - var(--nav-height));
    position: relative;
  }
} */
@media screen and (max-width: 991px) {
  .hero {
    --hero-heading: 50px;
    --header-margin-top: 100px;

    height: auto;
    min-height: calc(100vh - var(--nav-height));
  }
  .hero_img img:nth-child(2) {
    right: calc(-62px - 1vw);
  }
  .hero_img img {
    width: 50%;
  }
  .hero_img img:first-child {
    right: calc(95px - 1vw);
    z-index: 1;
  }
  .hero_wave img {
    transform: translateX(calc(428px + 23vw));
    height: 100%;
  }
  /* .hero_img > img {
    height: 67%;
  } */
  .hero_banner {
    height: 68vw;
    min-height: 557px;
    margin-top: auto;
  }
}
@media screen and (max-width: 575px) {
  .hero {
    --header-margin-top: 70px;
    --hero-heading: 35px;
  }
  .hero_banner {
    min-height: 489px;
  }
  .hero_img img {
    width: 80%;
  }
  .hero_img img:nth-child(2) {
    right: -7vw;
  }
  .hero_img img:nth-child(1) {
    left: -5vw;
  }

  .hero p {
    font-size: 16px;
  }
  .hero_button {
    width: 100%;
  }
}
