.hero {
  height: calc(100dvh - 114px);
  max-height: 600px;
  width: 100%;
  min-height: 460px;
  overflow: hidden;
  position: relative;
}

.hero .header {
  min-width: 446px;
  margin-top: 100px;
}
.hero_wave {
  aspect-ratio: 1241/686;
}
.hero_wave img {
  object-fit: contain;
  object-position: right top;
  min-height: 600px;
}
.hero_img img {
  width: 460px;
}
@media screen and (min-width: 1200px) {
  .hero_wave img {
    transform: scaleX(0.93) translateX(8%);
  }
  /* .hero_img {
    position: relative;
  } */
}
.hero_img img:first-child {
  right: 223px;
  z-index: 1;
}
.hero_img img:nth-child(2) {
  right: 0;
}
