.hero {
  height: auto;
  width: 100%;
  min-height: 460px;
  overflow: hidden;
  position: relative;
  --header-margin-top: 100px;
  --nav-height: 114px;
  --hero-heading: 50px;
}
.hero h1 {
  font-size: var(--hero-heading);
}
.hero p {
  font-size: 22px;
}

.hero_img img:first-child {
  right: calc(130px - 1vw);
  z-index: 1;
}
.hero_img img:nth-child(2) {
  right: calc(-50px - 1vw);
}

.hero .header {
  margin-top: var(--header-margin-top);
  height: calc(100dvh - var(--header-margin-top) - 71px);
  max-height: calc(630px);
}

.hero_wave img {
  object-fit: scale-down;
  object-position: right top;
  min-height: 600px;
}
.hero_img {
  min-height: 550px;
  height: 100%;
  position: relative;
}
.hero_img > img {
  height: 85%;
  object-position: bottom center;
  bottom: 0;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: calc(100dvh - var(--nav-height));
    max-height: 645px;
    width: 100%;
    min-height: 460px;
    overflow: hidden;
    position: relative;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero .header {
    max-width: 446px;
  }

  .hero_wave img {
    transform: translateX(calc(300px - 7vw));
    object-position: top right;
    aspect-ratio: 1241/686;
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    --hero-heading: 50px;
    --header-margin-top: 194px;
  }

  .hero .header {
    margin-inline: auto;
  }

  .hero_wave img {
    left: 0;
  }
  .hero_wave img:first-of-type {
    transform: translateX(-110px);
  }

  .hero_img {
    min-height: 651px;
    height: calc(100dvh - var(--nav-height));
    position: relative;
  }
}
@media screen and (max-width: 991px) {
  .hero {
    --hero-heading: 50px;
  }
  .hero_img img:nth-child(2) {
    right: calc(-104px - 1vw);
  }
  .hero_img img:first-child {
    right: calc(59px - 1vw);
    z-index: 1;
  }
  .hero_img > img {
    height: 67%;
  }
}
@media screen and (max-width: 575px) {
  .hero {
    --header-margin-top: 114px;
    --hero-heading: 35px;
  }

  .hero p {
    font-size: 16px;
  }
}
